parameters:
    level: 4
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Call to an undefined method Zend_View_Interface::.+\(\)\.#'
        - '#Strict comparison using === between null and string will always evaluate to false\.#'
        -
            message: '#If condition is always true\.#'
            path: ./src/Zend/Dojo/BuildLayer.php

        # These are all defensive coding for arguments that could be multiple types (so can't really be type-hinted)
        -
            message: '#Result of && is always false\.#'
            path: ./src/Zend/Dojo/Data.php
        -
            message: '#Result of \|\| is always false\.#'
            path: ./src/Zend/Dojo/Data.php
        -
            message: '#Result of && is always false\.#'
            path: ./src/Zend/Dojo/View/Helper/Dojo/Container.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: ./src/Zend/Dojo/Form/Element/DijitMulti.php
            count: 1
